
.container{
  background-size: cover;
  background-color: cornflowerblue;
  margin-top:100px;
  align-items: center;
}
.form{
  padding-top:10%;
  padding-left: 30%;
  border-radius: 3px solid red;
}
.btn{
  background-color: green;
  border-radius: 3px solid red;
  
}
.btn:hover{
  
  background-color: hotpink;

}


.temp{
  border-radius: 3px solid red;
}

.display-text{
  background-color: coral;
  text-align: center;
  font-weight: 20px;
  font-size:4px ;
  padding-left: 30%;
}

.App-header {
  border-radius: 3px solid red;
  text-align: center;
}